@CHARSET "UTF-8";


.select-menu {
	position:relative;
	left:50px;
	width:1400px;
	top:100px;
	
	padding-bottom:55px;
	margin-bottom:15px;
}

/* 장르 선택 */
.select-genre {
	float: left; /* width: 33%; */
    border: 1px solid #ccc;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    /* background: url('/semi/resources/image/select_arrow.png') 180px center no-repeat;  *//* 화살표 이미지 */
    border: 1px solid #c0c0c0;
    margin-right:7px;
}

.select-genre select {
    width: 100%;
    border: none;
    box-shadow: none;
    font-size:1.6em;
    color: #c0c0c0;
    letter-spacing: 1px;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-nation select:focus {
    outline: none;
    
}

/* 국가 선택 */
.select-nation {
	width: 160px;
    height: 35px;
	float: left; /* width: 33%; */
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    overflow: hidden;
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    background: url("image/select_arrow.png") 180px center no-repeat;
    margin-right:7px;
}

.select-nation select {
    width: 100%;
    border: none;
    box-shadow: none;
    font-size:1.6em;
    color: #c0c0c0;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-nation select:focus {
    outline: none;
}

/* 리뷰어 선택 */
.select-reviewer {
	width: 160px;
    height: 35px;
	float: left; /* width: 33%; */
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    overflow: hidden;
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    margin-right:7px;
}

.select-reviewer select {
    width: 100%;
    border: none;
    box-shadow: none;
    font-size:1.6em;
    color: #c0c0c0;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-reviewer select:focus {
    outline: none;
}

/* 순위별 순서 정렬 */
.select-order {
	width: 140px;
    height: 35px;
	float: right; 
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    overflow: hidden;
    
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    /* margin-top:100px;
    top:0;
    position:absolute; */
}

.select-order select {
    width: 100%;
    border: none;
    box-shadow: none;
    font-size:1.6em;
    color: #c0c0c0;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-order select:focus {
    outline: none;
}


/* 영화 리스트 페이지 */
.category-page{
	
	top:100px;
}