.main {
	padding: 100px 50px 50px 50px;
}

.search-box, .banner-box {
	float: left;
}

.search-box {
	width: 28%;
	margin-right: 2%;
}

.search-list ol li {
	overflow: hidden;
	height: 0;
	padding: 2.6vw 0;
	box-sizing: border-box;
}

.search-list ol li:hover {
	border: 2px solid red;
}

.rec-list>div {
	float: left;
	width: 19.2%;
	position: relative;
	z-index: 10;
	cursor: pointer;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.rec-list>div h1 {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 1.3vw;
}

.rec-list>div h3 {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 1.1vw;
}

.rec-list>div:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 1040;
}

.rec-list>div .hover-box {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.rec-list>div .hover-box h2 {
	font-size: 1.6vw;
}

.rec-list>div .hover-box--play {
	background: url(../image/btn_play.png) no-repeat center center;
	background-size: contain;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 10 !important;
}

#slideSection div {
	height: 600px;
}

#slideSection {
	margin-bottom: 50px;
	height: 600px;
}

#boxOffice {
	font-family: 'Noto Sans' !important;
	float: right;
	width: 400px;
	background: #191919;
}

#bo1 {
	font-family: 'Noto Sans' !important;
	height: 120px !important;
	background: #191919;
}

#bo2 {
	font-family: 'Noto Sans' !important;
	height: 420px !important;
	background: #191919;
}

#bo3 {
	font-family: 'Noto Sans' !important;
	height: 60px !important;
	background: #191919;
}

.listSection {
	height: 300px;
}

nav {
	height: 80px;
}

footer {
	height: 150px;
}

#item {
	width: 100%;
	height: 100px;
	background: black;
}

img {
	width: 100%;
	height: 100%;
}

.movieSection .item div {
	width: 210px;
	height: 299px;
	margin: 0px 5px 0px 5px;
}


.listSection .carousel-inner .item div {
	width: 300px;
	height: 200px;
	padding: 0px 3px 0px 3px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
#st4Carousel .carousel-inner .item div {
	width: 210px;
	height: 300px;
	margin: 0px 5px 0px 5px;
}

.listSection .carousel-inner .item {
	margin: 25px 50px 40px 50px;
}

.listSection .rvrAll .item div {
	width: 300px;
	height: 200px;
	padding: 0px 3px 0px 3px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.listSection .rvrAll .item {
	margin: 25px 50px 40px 50px;
}

#gradation {
	background-image: linear-gradient(to bottom, rgba(25, 25, 25, 0) 1%,
		#191919);
	position: absolute !important;
	width: 100%;
	z-index: 5;
    height: 50px !important;
    top: 630px;
	
}

.carousel-inner>a {
	z-index: 10;
	margin: 50px;
	width: 80px !important;
}

#ThumbnailCarousel img {
	
}

#ThumbnailCarousel div {
	height: 250px;
	width: 100%;
}

#ThumbnailCarousel.carousel {
	padding-top: 30px;
	text-align: center;
}

.col-md-3 .img-thumbnail {
	height: 100%;
}

a[href="#st2Carousel"] {
	width: 150px;
}

.carousel-indicators {
	float: right;
}

.boxRank {
	border: #191919;
	font-size: 14px;
	font-family: 'Noto Sans' !important;
	color: #c0c0c0;
}

.boxRank td, .boxRank th{
	border: #191919;
	font-family: 'Noto Sans' !important;
	text-align: center;
}
.boxRank td:FIRST-CHILD, .boxRank th:FIRST-CHILD{
	border: #191919;
	font-family: 'Noto Sans' !important;
	width: 50px;
}
 .boxRank td:nth-child(2), .boxRank th:nth-child(2){
	border: #191919;
 }
.boxRank td:LAST-CHILD, .boxRank th:LAST-CHILD{
	border: #191919;
	font-family: 'Noto Sans' !important;
	width: 120px;
}
.boxRank tr:hover{
	border: #191919;
	font-family: 'Noto Sans' !important;
	font-size: 14.5px;
	font-weight: bold;
	color: #ea4c88;

	cursor: pointer;
}

.boxRank tr {
	border: 2px solid #191919
}

.youtube {
	margin: 0px !important;
	height: 100%;
}