@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans DemiLight"),local("Noto Sans DemiLight"),local("Noto Sans DemiLight");
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-DemiLight-beb686df38af43f1b3c9b68f4157f240721009be9d27540291e2423e377b3af3.eot);
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-DemiLight-beb686df38af43f1b3c9b68f4157f240721009be9d27540291e2423e377b3af3.eot#iefix) format("embedded-opentype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-DemiLight-0694055ebe4f15dc89f7f897b259c59dd68fd24e85ed8976262e06fe467b9a56.woff) format("woff"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-DemiLight-7aef51926120e0d6e649395a5a3a9bc034e75f7ac3c7c4b16e4b8c283529078c.otf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Medium"),local("Noto Sans Medium"),local("Noto Sans Medium");
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-Medium-855ce711ddcaa4831af7b3c08d76bc86abc208e88cce737b964eff34cb1860bf.eot);
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-Medium-855ce711ddcaa4831af7b3c08d76bc86abc208e88cce737b964eff34cb1860bf.eot#iefix) format("embedded-opentype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-Medium-3bade64fee6c6a050fd764a312fde274a50b414f44f5e14674d9a83cf836cb44.woff) format("woff"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/NotoSans-Medium-6732e7a61333832d0da40f7c7808f3ce1e0636735fd1ce8390b27a7b4618bff3.otf) format("truetype")
}

@font-face {
    font-family: 'Watcha Glyphicons';
    font-style: normal;
    font-weight: normal;
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-6008851bc467e07d10a3c9061f17cd51b8cf2bbaea03503217b04bc97e1bb05c.eot);
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-6008851bc467e07d10a3c9061f17cd51b8cf2bbaea03503217b04bc97e1bb05c.eot#iefix) format("embedded-opentype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-1eb526c2850d2111f8026e257328e2f88461faa983d66346a81c979af529c72a.woff) format("woff"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-b541e6093188d26d6857c1a76e3625957a5c8060c575c6dabbc212a413f243bc.ttf) format("truetype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-d1823668c2b5f9dc34b5197919c3fd461cb84461a6e5d602cbd82ec53a52b9cb.svg) format("svg")
}

.glyphicon {
    display: inline-block;
    position: relative;
    bottom: 1px;
    line-height: 1;
    font-family: 'Watcha Glyphicons';
    font-size: .9em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-style: normal
}

.glyphicon-angle-down:before {
    content: '\e800'
}

.glyphicon-x-circle-f:before {
    content: '\e801'
}

.glyphicon-angle-left:before {
    content: '\e802'
}

.glyphicon-angle-right:before {
    content: '\e803'
}

.glyphicon-archive-f:before {
    content: '\e804'
}

.glyphicon-archive:before {
    content: '\e805'
}

.glyphicon-arrow-left:before {
    content: '\e806'
}

.glyphicon-pause:before {
    content: '\e807'
}

.glyphicon-play-circle-f:before {
    content: '\e808'
}

.glyphicon-search:before {
    content: '\e809'
}

.glyphicon-bell:before {
    content: '\e80a'
}

.glyphicon-volume-mute:before {
    content: '\e80b'
}

.glyphicon-pause-circle:before {
    content: '\e80c'
}

.glyphicon-ban-f:before {
    content: '\e80d'
}

.glyphicon-gear:before {
    content: '\e80e'
}

.glyphicon-check-circle-f:before {
    content: '\e80f'
}

.glyphicon-fb-initial:before {
    content: '\e810'
}

.glyphicon-pencil-f:before {
    content: '\e811'
}

.glyphicon-book:before {
    content: '\e812'
}

.glyphicon-user-f:before {
    content: '\e813'
}

.glyphicon-bars:before {
    content: '\e814'
}

.glyphicon-user-check:before {
    content: '\e815'
}

.glyphicon-heart-circle:before {
    content: '\e816'
}

.glyphicon-arrow-left-circle:before {
    content: '\e817'
}

.glyphicon-heart-circle-f:before {
    content: '\e818'
}

.glyphicon-screens:before {
    content: '\e819'
}

.glyphicon-check:before {
    content: '\e81a'
}

.glyphicon-attention:before {
    content: '\e81b'
}

.glyphicon-rank:before {
    content: '\e81c'
}

.glyphicon-dots-3-horizontal:before {
    content: '\e81d'
}

.glyphicon-fb:before {
    content: '\e81e'
}

.glyphicon-kakao:before {
    content: '\e81f'
}

.glyphicon-x-circle:before {
    content: '\e820'
}

.glyphicon-document:before {
    content: '\e821'
}

.glyphicon-x:before {
    content: '\e822'
}

.glyphicon-minus-circle-f:before {
    content: '\e823'
}

.glyphicon-caret-down:before {
    content: '\e824'
}

.glyphicon-caret-down-f:before {
    content: '\e825'
}

.glyphicon-attention-circle-f:before {
    content: '\e826'
}

.glyphicon-calendar:before {
    content: '\e827'
}

.glyphicon-document-f:before {
    content: '\e828'
}

.glyphicon-user:before {
    content: '\e829'
}

.glyphicon-mail:before {
    content: '\e82a'
}

.glyphicon-arrow-leftup:before {
    content: '\e82b'
}

.glyphicon-ban:before {
    content: '\e82c'
}

.glyphicon-arrow-right-circle-f:before {
    content: '\e82d'
}

.glyphicon-star-f:before {
    content: '\e82e'
}

.glyphicon-fb-line:before {
    content: '\e82f'
}

.glyphicon-pause-circle-f:before {
    content: '\e830'
}

.glyphicon-heart-f:before {
    content: '\e831'
}

.glyphicon-minus-circle:before {
    content: '\e832'
}

.glyphicon-watchaplay:before {
    content: '\e833'
}

.glyphicon-dots-3-vertical:before {
    content: '\e834'
}

.glyphicon-pencil:before {
    content: '\e835'
}

.glyphicon-photo:before {
    content: '\e836'
}

.glyphicon-tv:before {
    content: '\e837'
}

.glyphicon-play-circle:before {
    content: '\e838'
}

.glyphicon-movie:before {
    content: '\e839'
}

.glyphicon-rank-f:before {
    content: '\e83a'
}

.glyphicon-play:before {
    content: '\e83b'
}

.glyphicon-heart:before {
    content: '\e83c'
}

.glyphicon-plus-circle:before {
    content: '\e83d'
}

.glyphicon-camera:before {
    content: '\e83e'
}

.glyphicon-attention-circle:before {
    content: '\e83f'
}

.glyphicon-thumbs:before {
    content: '\e840'
}

.glyphicon-plus-circle-f:before {
    content: '\e841'
}

.glyphicon-thumbs-f:before {
    content: '\e842'
}

.glyphicon-arrow-left-circle-f:before {
    content: '\e843'
}

.glyphicon-star:before {
    content: '\e844'
}

.glyphicon-h-d:before {
    content: '\e845'
}

.glyphicon-speech-bubble-f:before {
    content: '\e846'
}

.glyphicon-screen-full:before {
    content: '\e847'
}

.glyphicon-speech-bubble:before {
    content: '\e848'
}

.glyphicon-check-circle:before {
    content: '\e849'
}

.glyphicon-attention-alt:before {
    content: '\e84a'
}

.glyphicon-arrow-right:before {
    content: '\e84b'
}

.glyphicon-sharp:before {
    content: '\e84c'
}

.glyphicon-watcha:before {
    content: '\e84d'
}

.glyphicon-share:before {
    content: '\e84e'
}

.glyphicon-house:before {
    content: '\e84f'
}

.glyphicon-watcha-symbol:before {
    content: '\e850'
}

.glyphicon-arrow-right-circle:before {
    content: '\e851'
}

.glyphicon-screen-window:before {
    content: '\e852'
}

.glyphicon-user-plus:before {
    content: '\e853'
}

.glyphicon-twitter:before {
    content: '\e854'
}

.glyphicon-bell-f:before {
    content: '\e855'
}

.glyphicon-user-plus-f:before {
    content: '\e856'
}

.glyphicon-house-f:before {
    content: '\e857'
}

.glyphicon-user-check-f:before {
    content: '\e858'
}

.glyphicon-users-f:before {
    content: '\e859'
}

.glyphicon-users:before {
    content: '\e85a'
}

.glyphicon-volume-full:before {
    content: '\e85b'
}

.glyphicon-foward:before {
    content: '\e85c'
}

.glyphicon-angle-double-left:before {
    content: '\e85d'
}

.glyphicon-angle-double-right:before {
    content: '\e85e'
}

.glyphicon-now:before {
    content: '\e85f'
}

.glyphicon-next:before {
    content: '\e860'
}

.glyphicon-caret-up-down-f:before {
    content: '\e861'
}

.glyphicon-angle-up:before {
    content: '\e862'
}

.glyphicon-arrow-down:before {
    content: '\e863'
}

.glyphicon-arrow-up:before {
    content: '\e864'
}

.glyphicon-blog:before {
    content: '\e865'
}

.glyphicon-frograms:before {
    content: '\e866'
}

.glyphicon-insta:before {
    content: '\e867'
}

.glyphicon-card:before {
    content: '\e868'
}

.glyphicon-phone:before {
    content: '\e869'
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {

}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html,body {
    background: #191919;
    color: #ffffff;
    font-family: "Noto Sans", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
    font-weight: 300
}

body.modal-open {
    overflow: hidden
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: 500
}

h1 {
    font-size: 4.6875vw
}

h2 {
    font-size: 3.75vw
}

h3 {
    font-size: 2.8125vw
}

h4 {
    font-size: 2.34375vw
}

h5 {
    font-size: 1.875vw
}

h6 {
    font-size: 1.5625vw
}

ul,ol {
    margin: 0;
    padding: 0
}

li {
    display: block
}

p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: rgba(255,255,255,0.5)
}

a:hover {
    color: rgba(255,255,255,0.7)
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none
}

input[type="text"],input[type="search"],input[type="email"],input[type="password"] {
    border: 0;
    background-color: #ffffff;
    background-image: none;
    color: #121218;
    font-size: 1.171875vw
}

input[type="text"]::-moz-placeholder,input[type="search"]::-moz-placeholder,input[type="email"]::-moz-placeholder,input[type="password"]::-moz-placeholder {
    color: #9b97a2;
    opacity: 1
}

input[type="text"]:-ms-input-placeholder,input[type="search"]:-ms-input-placeholder,input[type="email"]:-ms-input-placeholder,input[type="password"]:-ms-input-placeholder {
    color: #9b97a2
}

input[type="text"]::-webkit-input-placeholder,input[type="search"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder {
    color: #9b97a2
}

input[type="text"]:focus,input[type="search"]:focus,input[type="email"]:focus,input[type="password"]:focus {
    outline: 0
}

input[type="button"],input[type="submit"],button {
    cursor: pointer;
    border: 0 none transparent;
    outline: none 0;
    background: none;
    -webkit-appearance: initial;
    padding: 0
}

input[type="button"]:focus,input[type="submit"]:focus,button:focus {
    border: 0 none transparent;
    outline: none 0
}

html.full-height {
    margin: 0;
    padding: 0;
    height: 100%
}

html.full-height body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden
}

html.full-height body [data-react-router-class="MyRoutes"],html.full-height body [data-react-router-class="MyRoutes"] .app,html.full-height body [data-react-router-class="MyRoutes"] .app .app__page-mount {
    height: 100%
}

.embedfade-appear {
    opacity: 0.01
}

.embedfade-appear.embedfade-appear-active {
    opacity: 1;
    transition: opacity 200ms ease-in
}

.embedfade-enter {
    opacity: 0.01
}

.embedfade-enter.embedfade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in
}

.embedfade-leave {
    opacity: 1
}

.embedfade-leave.embedfade-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in
}

.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.btn {
    display: inline-block;
    font-size: 13px;
    line-height: 32px;
    height: 32px;
    padding: 0 18px;
    text-align: center;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px
}

.btn.btn-default {
    background-color: #ffffff;
    color: #121218
}

.btn.btn-success {
    background-color: #07bb91;
    color: #121218
}

.btn.btn-primary {
    background-color: #ff3376;
    color: #ffffff
}

@font-face {
    font-family: 'Watcha Glyphicons';
    font-style: normal;
    font-weight: normal;
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-6008851bc467e07d10a3c9061f17cd51b8cf2bbaea03503217b04bc97e1bb05c.eot);
    src: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-6008851bc467e07d10a3c9061f17cd51b8cf2bbaea03503217b04bc97e1bb05c.eot#iefix) format("embedded-opentype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-1eb526c2850d2111f8026e257328e2f88461faa983d66346a81c979af529c72a.woff) format("woff"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-b541e6093188d26d6857c1a76e3625957a5c8060c575c6dabbc212a413f243bc.ttf) format("truetype"),url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watcha-glyphicons-d1823668c2b5f9dc34b5197919c3fd461cb84461a6e5d602cbd82ec53a52b9cb.svg) format("svg")
}

.glyphicon {
    display: inline-block;
    position: relative;
    bottom: 1px;
    line-height: 1;
    font-family: 'Watcha Glyphicons';
    font-size: .9em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-style: normal
}

.glyphicon-angle-down:before {
    content: '\e800'
}

.glyphicon-x-circle-f:before {
    content: '\e801'
}

.glyphicon-angle-left:before {
    content: '\e802'
}

.glyphicon-angle-right:before {
    content: '\e803'
}

.glyphicon-archive-f:before {
    content: '\e804'
}

.glyphicon-archive:before {
    content: '\e805'
}

.glyphicon-arrow-left:before {
    content: '\e806'
}

.glyphicon-pause:before,.vjs-default-skin.vjs-playing .vjs-play-control:before {
    content: '\e807'
}

.glyphicon-play-circle-f:before {
    content: '\e808'
}

.glyphicon-search:before {
    content: '\e809'
}

.glyphicon-bell:before {
    content: '\e80a'
}

.glyphicon-volume-mute:before,.vjs-default-skin .vjs-volume-control.vjs-volume-control--muted:before {
    content: '\e80b'
}

.glyphicon-pause-circle:before {
    content: '\e80c'
}

.glyphicon-ban-f:before {
    content: '\e80d'
}

.glyphicon-gear:before,.vjs-default-skin .vjs-setting-control:before {
    content: '\e80e'
}

.glyphicon-check-circle-f:before {
    content: '\e80f'
}

.glyphicon-fb-initial:before {
    content: '\e810'
}

.glyphicon-pencil-f:before {
    content: '\e811'
}

.glyphicon-book:before {
    content: '\e812'
}

.glyphicon-user-f:before {
    content: '\e813'
}

.glyphicon-bars:before {
    content: '\e814'
}

.glyphicon-user-check:before {
    content: '\e815'
}

.glyphicon-heart-circle:before {
    content: '\e816'
}

.glyphicon-arrow-left-circle:before {
    content: '\e817'
}

.glyphicon-heart-circle-f:before {
    content: '\e818'
}

.glyphicon-screens:before {
    content: '\e819'
}

.glyphicon-check:before {
    content: '\e81a'
}

.glyphicon-attention:before {
    content: '\e81b'
}

.glyphicon-rank:before {
    content: '\e81c'
}

.glyphicon-dots-3-horizontal:before {
    content: '\e81d'
}

.glyphicon-fb:before {
    content: '\e81e'
}

.glyphicon-kakao:before {
    content: '\e81f'
}

.glyphicon-x-circle:before {
    content: '\e820'
}

.glyphicon-document:before {
    content: '\e821'
}

.glyphicon-x:before {
    content: '\e822'
}

.glyphicon-minus-circle-f:before {
    content: '\e823'
}

.glyphicon-caret-down:before {
    content: '\e824'
}

.glyphicon-caret-down-f:before {
    content: '\e825'
}

.glyphicon-attention-circle-f:before {
    content: '\e826'
}

.glyphicon-calendar:before {
    content: '\e827'
}

.glyphicon-document-f:before {
    content: '\e828'
}

.glyphicon-user:before {
    content: '\e829'
}

.glyphicon-mail:before {
    content: '\e82a'
}

.glyphicon-arrow-leftup:before {
    content: '\e82b'
}

.glyphicon-ban:before {
    content: '\e82c'
}

.glyphicon-arrow-right-circle-f:before {
    content: '\e82d'
}

.glyphicon-star-f:before {
    content: '\e82e'
}

.glyphicon-fb-line:before {
    content: '\e82f'
}

.glyphicon-pause-circle-f:before {
    content: '\e830'
}

.glyphicon-heart-f:before {
    content: '\e831'
}

.glyphicon-minus-circle:before {
    content: '\e832'
}

.glyphicon-watchaplay:before {
    content: '\e833'
}

.glyphicon-dots-3-vertical:before {
    content: '\e834'
}

.glyphicon-pencil:before {
    content: '\e835'
}

.glyphicon-photo:before {
    content: '\e836'
}

.glyphicon-tv:before {
    content: '\e837'
}

.glyphicon-play-circle:before {
    content: '\e838'
}

.glyphicon-movie:before {
    content: '\e839'
}

.glyphicon-rank-f:before {
    content: '\e83a'
}

.glyphicon-play:before,.vjs-default-skin .vjs-play-control:before {
    content: '\e83b'
}

.glyphicon-heart:before {
    content: '\e83c'
}

.glyphicon-plus-circle:before {
    content: '\e83d'
}

.glyphicon-camera:before {
    content: '\e83e'
}

.glyphicon-attention-circle:before {
    content: '\e83f'
}

.glyphicon-thumbs:before {
    content: '\e840'
}

.glyphicon-plus-circle-f:before {
    content: '\e841'
}

.glyphicon-thumbs-f:before {
    content: '\e842'
}

.glyphicon-arrow-left-circle-f:before {
    content: '\e843'
}

.glyphicon-star:before {
    content: '\e844'
}

.glyphicon-h-d:before {
    content: '\e845'
}

.glyphicon-speech-bubble-f:before {
    content: '\e846'
}

.glyphicon-screen-full:before,.vjs-default-skin .vjs-fullscreen-control:before {
    content: '\e847'
}

.glyphicon-speech-bubble:before {
    content: '\e848'
}

.glyphicon-check-circle:before {
    content: '\e849'
}

.glyphicon-attention-alt:before {
    content: '\e84a'
}

.glyphicon-arrow-right:before {
    content: '\e84b'
}

.glyphicon-sharp:before {
    content: '\e84c'
}

.glyphicon-watcha:before {
    content: '\e84d'
}

.glyphicon-share:before {
    content: '\e84e'
}

.glyphicon-house:before {
    content: '\e84f'
}

.glyphicon-watcha-symbol:before {
    content: '\e850'
}

.glyphicon-arrow-right-circle:before {
    content: '\e851'
}

.glyphicon-screen-window:before,.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
    content: '\e852'
}

.glyphicon-user-plus:before {
    content: '\e853'
}

.glyphicon-twitter:before {
    content: '\e854'
}

.glyphicon-bell-f:before {
    content: '\e855'
}

.glyphicon-user-plus-f:before {
    content: '\e856'
}

.glyphicon-house-f:before {
    content: '\e857'
}

.glyphicon-user-check-f:before {
    content: '\e858'
}

.glyphicon-users-f:before {
    content: '\e859'
}

.glyphicon-users:before {
    content: '\e85a'
}

.glyphicon-volume-full:before,.vjs-default-skin .vjs-volume-control:before {
    content: '\e85b'
}

.glyphicon-foward:before,.vjs-default-skin .vjs-next-episode-control .vjs-control:before {
    content: '\e85c'
}

.glyphicon-angle-double-left:before {
    content: '\e85d'
}

.glyphicon-angle-double-right:before {
    content: '\e85e'
}

.glyphicon-now:before {
    content: '\e85f'
}

.glyphicon-next:before {
    content: '\e860'
}

.glyphicon-caret-up-down-f:before {
    content: '\e861'
}

.glyphicon-angle-up:before {
    content: '\e862'
}

.glyphicon-arrow-down:before {
    content: '\e863'
}

.glyphicon-arrow-up:before {
    content: '\e864'
}

.glyphicon-blog:before {
    content: '\e865'
}

.glyphicon-frograms:before {
    content: '\e866'
}

.glyphicon-insta:before {
    content: '\e867'
}

.glyphicon-card:before {
    content: '\e868'
}

.glyphicon-phone:before {
    content: '\e869'
}

.video-js .vjs-tech {
    background-color: black
}

.vjs-default-skin {
    color: #ffffff
}

.vjs-default-skin .vjs-intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.98);
    -khtml-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: transform 1s, opacity 1s;
    -khtml-transition: transform 1s, opacity 1s;
    -moz-transition: transform 1s, opacity 1s;
    -ms-transition: transform 1s, opacity 1s;
    -o-transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s
}

.vjs-default-skin .vjs-intro .vjs-poster-intro__dimmed-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18,18,24,0.5)
}

.vjs-default-skin .vjs-intro .vjs-poster-intro__centerer {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    padding: 0;
    padding-bottom: 17.109375vw;
    width: 100%
}

.vjs-default-skin .vjs-intro .vjs-poster-intro__centerer .vjs-poster-intro__title {
    color: #ffffff
}

.vjs-default-skin .vjs-intro .vjs-poster-intro__centerer .vjs-poster-intro__subtitle {
    margin-top: 0.78125vw;
    color: rgba(255,255,255,0.5)
}

.vjs-default-skin .vjs-intro .vjs-poster-intro__centerer .glyphicon-gear,.vjs-default-skin .vjs-intro .vjs-poster-intro__centerer .vjs-setting-control:before {
    margin-top: 3.671875vw;
    font-size: 4.6875vw
}

.vjs-default-skin .vjs-intro.vjs-intro--scale-up {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating {
    position: absolute;
    padding: 8.67vh 7.109375vw
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating .vjs-film-rating-notice__rating-text {
    width: 24.44vh;
    height: 24.44vh;
    line-height: 24.44vh;
    font-size: 4.44vh;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #121218;
    margin-bottom: 3.55vh;
    font-weight: 500
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating .vjs-film-rating-notice__rating-desc {
    font-size: 4.44vh;
    line-height: 1.5;
    letter-spacing: -.8px;
    color: #ffffff
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating .vjs-film-rating-notice__rating-deliberation {
    font-size: 1.66vh;
    line-height: 1.5;
    color: rgba(255,255,255,0.7);
    margin-top: 2vh
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--0 .vjs-film-rating-notice__rating-text {
    background-color: #3aa640;
    font-weight: 300
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--0 .vjs-film-rating-notice__rating-desc .vjs-film-rating-notice__rating-desc-bold {
    color: #3aa640;
    font-weight: 500
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--12 .vjs-film-rating-notice__rating-text {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 300;
    background-color: #0098db;
    font-size: 8.88vh;
    letter-spacing: -0.0390625vw
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--12 .vjs-film-rating-notice__rating-desc .vjs-film-rating-notice__rating-desc-bold {
    color: #0098db;
    font-weight: 500
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--15 .vjs-film-rating-notice__rating-text {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 300;
    background-color: #f3a412;
    font-size: 8.88vh;
    letter-spacing: -0.0390625vw
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--15 .vjs-film-rating-notice__rating-desc .vjs-film-rating-notice__rating-desc-bold {
    color: #f3a412;
    font-weight: 500
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--19 .vjs-film-rating-notice__rating-text {
    padding-top: 7vh;
    color: #ffffff;
    background-color: #d12b2b;
    line-height: 117%;
    font-weight: 300
}

.vjs-default-skin .vjs-intro .vjs-notice-film-rating.vjs-notice-film-rating--19 .vjs-film-rating-notice__rating-desc .vjs-film-rating-notice__rating-desc-bold {
    color: #d12b2b;
    font-weight: 500
}

.vjs-default-skin .vjs-intro .vjs-notice-deliberations {
    position: absolute;
    bottom: 8.625vh;
    left: 7.109375vw
}

.vjs-default-skin .vjs-intro .vjs-notice-deliberations .vjs-notice-deliberations__item {
    display: inline-block;
    margin-right: 1.5625vw;
    width: 10.5vh;
    height: 12.75vh;
    border-radius: 11px;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: center
}

.vjs-default-skin .vjs-intro .vjs-notice-deliberations .vjs-notice-deliberations__item-label {
    font-size: 1.625vh;
    line-height: 1.23
}

.vjs-default-skin .vjs-intro .vjs-notice-deliberations .vjs-notice-deliberations__item-value {
    font-size: 1.5vh;
    line-height: 1.33;
    color: rgba(255,255,255,0.7)
}

.vjs-default-skin.vjs-has-started .vjs-intro {
    display: none
}

.vjs-default-skin .vjs-back-button {
    display: block;
    position: absolute;
    right: 9%;
    top: 4.4444444444vh;
    width: 8vh;
    height: 8vh;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(18,18,24,0.8)
}

.vjs-default-skin .vjs-back-button .glyphicon-x {
    font-size: 3.5555555556vh;
    color: rgba(255,255,255,0.7)
}

.vjs-default-skin .vjs-back-button:hover .glyphicon-x {
    color: #ffffff
}
.vjs-default-skin .vjs-volume-popup .vjs-volume-bar .vjs-volume-handle {
    top: auto;
    left: 0;
    width: 100%;
    height: 0
}

.vjs-default-skin .vjs-slider-vertical .vjs-volume-level {
    width: 100%
}

.vjs-default-skin .vjs-volume-popup .vjs-volume-bar .vjs-volume-level {
    top: auto;
    bottom: 0;
    background: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/videojs/bg_volume_level-6045869ea520acd8040ec7b68173e1dcc7da58d913faaf3ed48d20fa03290d79.png);
    background-position: bottom;
    background-size: 4vh 2.2222222222vh
}

.vjs-default-skin .vjs-volume-level:before {
    content: ""
}

.vjs-default-skin .vjs-volume-popup .vjs-volume-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 3.3333333333vh;
    text-align: center;
    line-height: 3.3333333333vh;
    color: #121218;
    font-family: "Helvetica Neue", Helvetica;
    font-size: 1.7777777778vh;
    font-weight: bold
}

.vjs-default-skin .vjs-next-episode-popup {
    position: absolute;
    bottom: 0;
    left: 9%;
    background-color: rgba(18,18,24,0.8);
    cursor: pointer;
    padding: 1.3333333333vh 1.3333333333vh 1.3333333333vh 13.1111111111vh;
    width: 35.5555555556vh;
    height: 9.3333333333vh;
    overflow: hidden;
    border-radius: 0.4444444444vh
}

.vjs-default-skin.vjs-has-started .vjs-next-episode-popup {
    bottom: 10.7777777778vh
}

.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-next-episode-popup {
    bottom: 0;
    -webkit-transition: bottom 0s 0.5s;
    -khtml-transition: bottom 0s 0.5s;
    -moz-transition: bottom 0s 0.5s;
    -ms-transition: bottom 0s 0.5s;
    -o-transition: bottom 0s 0.5s;
    transition: bottom 0s 0.5s
}

.vjs-default-skin.vjs-error .vjs-next-episode-popup {
    bottom: 0
}

.vjs-default-skin .vjs-next-episode-popup--go {
    width: 40vh
}

.vjs-default-skin .vjs-next-episode-popup--go--anim {
    -webkit-transform: translate3d(0, 100%, 0);
    -khtml-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -webkit-transition: transform 0.5s, opacity 0.5s;
    -khtml-transition: transform 0.5s, opacity 0.5s;
    -moz-transition: transform 0.5s, opacity 0.5s;
    -ms-transition: transform 0.5s, opacity 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s
}

.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-next-episode-popup--go--anim {
    -webkit-transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s;
    -khtml-transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s;
    -moz-transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s;
    -ms-transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s;
    -o-transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s;
    transition: bottom 0s 0.5s, transform 0.5s, opacity 0.5s
}

.vjs-default-skin .vjs-next-episode-popup--go--anim--in {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.vjs-default-skin .vjs-next-episode-popup__stillcut {
    position: absolute;
    top: 1.3333333333vh;
    left: 1.3333333333vh;
    width: 10.4444444444vh;
    height: 6.6666666667vh
}

.vjs-default-skin .vjs-next-episode-popup__text {
    margin-bottom: 0.1111111111vh;
    color: rgba(255,255,255,0.5);
    font-size: 1.3333333333vh
}

.vjs-default-skin .vjs-next-episode-popup__title {
    text-overflow: ellipsis;
    line-height: 1.571428571;
    color: #ffffff;
    font-size: 1.5555555556vh
}

.vjs-default-skin .vjs-next-episode-popup__countdown {
    color: #FC426A;
    padding-top: 0.2222222222vh;
    font-size: 1.3333333333vh
}

.vjs-default-skin .vjs-next-episode-popup__cancel-button {
    position: absolute;
    top: 1.3333333333vh;
    right: 1.3333333333vh
}

.vjs-default-skin .vjs-next-episode-popup__cancel-button .glyphicon-x {
    color: rgba(255,255,255,0.7);
    font-size: 1.7777777778vh
}

.vjs-default-skin .vjs-next-episode-popup__cancel-button:hover .glyphicon-x {
    color: #ffffff
}

.vjs-default-skin .vjs-setting-popup {
    width: 21.1111111111vh;
    background-color: rgba(18,18,24,0.01);
    bottom: 8.8888888889vh;
    padding-bottom: 0;
    left: -1vh
}

.vjs-default-skin .vjs-setting-popup-button {
    position: relative;
    background-color: rgba(18,18,24,0.8);
    width: 100%;
    height: 4.4444444444vh;
    line-height: 4.4444444444vh;
    text-align: left;
    font-size: 1.6666666667vh;
    padding-left: 1.7777777778vh;
    padding-right: 1.7777777778vh;
    color: rgba(255,255,255,0.7);
    cursor: pointer
}

.vjs-default-skin .vjs-setting-popup-button .vjs-setting-icon {
    position: absolute;
    top: 0;
    height: 100%
}

.vjs-default-skin .vjs-setting-popup-button:hover {
    color: #ffffff
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-menu-button .vjs-setting-icon {
    right: 1.7777777778vh
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-menu-button .vjs-setting-icon .vjs-setting-icon__text {
    margin-right: 0.8888888889vh;
    color: #ffffff
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-menu-button .vjs-setting-icon .glyphicon-angle-right {
    color: rgba(255,255,255,0.3)
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-back-button .vjs-setting-text,.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-radio-button .vjs-setting-text {
    text-align: center
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-back-button .vjs-setting-icon,.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-radio-button .vjs-setting-icon {
    left: 2vh
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-back-button .vjs-setting-icon .glyphicon-check,.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-radio-button .vjs-setting-icon .glyphicon-check {
    font-size: 1.3333333333vh
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-radio-button.vjs-setting-popup-radio-button-hd .vjs-setting-text:after {
    content: "HD";
    padding-left: 0.5555555556vh;
    position: absolute;
    top: 0;
    color: #07bb91;
    font-size: 1.25vh
}

.vjs-default-skin .vjs-setting-popup-button.vjs-setting-popup-radio-button.vjs-setting-popup-radio-button-fhd .vjs-setting-text:after {
    content: "FHD";
    padding-left: 0.5555555556vh;
    position: absolute;
    top: 0;
    color: #07bb91;
    font-size: 1.25vh
}

.vjs-default-skin .vjs-shortcut-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18,18,24,0.8);
    font-size: 1.7777777778vh
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer:before,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer:after {
    content: " ";
    display: table
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer:after {
    clear: both
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 {
    float: left
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list li,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 li {
    width: 100%;
    height: 3.5555555556vh;
    margin-bottom: 3.1111111111vh;
    text-align: left
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list li .vjs-shortcut-modal__text,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 li .vjs-shortcut-modal__text {
    width: 17.7777777778vh;
    display: inline-block
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list li .vjs-shortcut-modal__key,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 li .vjs-shortcut-modal__key {
    display: inline-block;
    background-color: #ffffff;
    color: #121218;
    -webkit-border-radius: 0.4444444444vh;
    -khtml-border-radius: 0.4444444444vh;
    -moz-border-radius: 0.4444444444vh;
    -ms-border-radius: 0.4444444444vh;
    -o-border-radius: 0.4444444444vh;
    border-radius: 0.4444444444vh;
    width: 6.6666666667vh;
    height: 3.5555555556vh;
    font-size: 1.5555555556vh;
    line-height: 3.5555555556vh;
    text-align: center
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list li:last-child,.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 li:last-child {
    margin-bottom: 0
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list {
    padding-right: 10vh;
    border-right: 1px solid rgba(255,255,255,0.3)
}

.vjs-default-skin .vjs-shortcut-modal .vjs-shortcut-modal__centerer .vjs-shortcut-modal__list2 {
    padding-left: 10vh
}

.vjs-default-skin .vjs-thumbnail-holder {
    position: absolute;
    left: -1000px;
    bottom: 2.8888888889vh
}

.vjs-default-skin .vjs-thumbnail {
    position: absolute;
    left: -95px;
    bottom: 3.8888888889vh;
    opacity: 0;
    -webkit-opacity: 0.2s ease;
    -khtml-opacity: 0.2s ease;
    -moz-opacity: 0.2s ease;
    -ms-opacity: 0.2s ease;
    -o-opacity: 0.2s ease;
    opacity: 0.2s ease;
    width: 190px;
    height: 120px;
    background-size: 1900px 720px;
    background-repeat: no-repeat;
    background-position: 0 0
}

.vjs-default-skin .vjs-thumbnail-time {
    position: absolute;
    left: -95px;
    bottom: 0;
    background-color: #121218;
    width: 190px;
    height: 3.8888888889vh;
    line-height: 3.8888888889vh;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica;
    font-size: 1.7777777778vh;
    opacity: 0;
    -webkit-opacity: 0.2s ease;
    -khtml-opacity: 0.2s ease;
    -moz-opacity: 0.2s ease;
    -ms-opacity: 0.2s ease;
    -o-opacity: 0.2s ease;
    opacity: 0.2s ease
}

.vjs-default-skin .vjs-progress-control:hover .vjs-thumbnail,.vjs-default-skin .vjs-progress-control.fake-active .vjs-thumbnail,.vjs-default-skin .vjs-progress-control:active .vjs-thumbnail,.vjs-default-skin .vjs-progress-control:hover .vjs-thumbnail-time,.vjs-default-skin .vjs-progress-control.fake-active .vjs-thumbnail-time,.vjs-default-skin .vjs-progress-control:active .vjs-thumbnail-time {
    opacity: 1
}

.vjs-default-skin .vjs-progress-control:hover .vjs-thumbnail-holder:hover,.vjs-default-skin .vjs-progress-control:active .vjs-thumbnail-holder:active {
    opacity: 0
}

.vjs-default-skin .vjs-audio-button {
    display: none
}

.vjs-default-skin .vjs-big-play-button {
    display: none
}

.container {
    margin: 0 auto;
    width: 960px
}

.app {
    background: #191919;
    overflow-x: hidden
}

.app--with-fixed-bar {
    margin-top: 60px
}

.gnb {
    position: fixed;
    z-index: 500;
    padding: 0 50px;
    width: 100%;
    height: 80px;
    font-size: 16px
}

.gnb .active {
    color: #ffffff;
    font-weight: 500
}

.gnb .logo {
    float: left;
    width: 204px;
    height: 80px;
    background: url('../image/mt.png') 0 26px no-repeat;
    background-size: 204px 30px
}

.gnb .logo>span {
    display: none
}

.gnb .gnb__left-navs {
    float: left;
    padding-left: 45px
}

.gnb .gnb__left-navs:before,.gnb .gnb__left-navs:after {
    content: " ";
    display: table
}

.gnb .gnb__left-navs:after {
    clear: both
}

.gnb .gnb__left-navs>li {
    float: left;
    line-height: 80px
}

.gnb .gnb__left-navs>li>a {
    display: block;
    min-width: 60px;
    text-align: center
}

.gnb .gnb__left-navs .gnb__nav-home {
    margin-right: 4px
}

.gnb .gnb__left-navs .gnb__nav-category {
    margin-right: 18px
}

.gnb .gnb__left-navs .gnb__nav-category.gnb__nav-category--active {
    color: #ffffff;
    font-weight: 500
}

.gnb .gnb__left-navs .gnb__category-list {
    position: relative
}

.gnb .gnb__left-navs .gnb__category-list .gnb-category-list {
    left: 0;
    top: 80px
}

.gnb .gnb__left-navs .gnb__category-list.gnb__category-list--new:before {
    content: attr(data-unchecked-arrivals-count);
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -18px;
    padding: 2px 3px;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
    color: white;
    background-color: #FC426A;
    border-radius: 2px;
    line-height: 1
}

.gnb .gnb__right-navs {
    position: relative;
    float: right
}

.gnb .gnb__right-navs:before,.gnb .gnb__right-navs:after {
    content: " ";
    display: table
}

.gnb .gnb__right-navs:after {
    clear: both
}

.gnb .gnb__right-navs .gnb__start,.gnb .gnb__right-navs .gnb__sign-in,.gnb .gnb__right-navs .gnb__sign-up {
    margin-top: 23px
}

.gnb .gnb__right-navs .gnb__sign-out {
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    vertical-align: top
}

.gnb .gnb__right-navs .search {
    display: block;
    float: right;
    margin-top: 21px
}

.gnb .gnb__right-navs .gnb__wishes {
    display: block;
    float: right;
    margin-top: 27px;
    margin-left: 29px
}

.gnb .gnb__right-navs .gnb__my-name {
    float: right;
    margin-top: 27px;
    margin-left: 26px;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    position:relative;
}

.gnb .gnb__right-navs .gnb__my-name .glyphicon-caret-down-f {
    top: -5px;
    padding-left: 7px;
    font-size: 4px
}

.gnb .gnb__right-navs .gnb__my-name:hover {
    color: rgba(255,255,255,0.7)
}

.gnb .gnb__right-navs .gnb__my-name .gnb__account-menu-wrap {
    display:none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 160px;
}
/* .gnb .gnb__right-navs .gnb__my-name .gnb__account-menu-wrap.hover{
    display: block;
} */

.gnb .gnbhover-enter {
    opacity: 0.01
}

.gnb .gnbhover-enter.gnbhover-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in
}

.gnb .gnbhover-leave {
    opacity: 1
}

.gnb .gnbhover-leave.gnbhover-leave-active {
    opacity: 0.01;
    transition: opacity 150ms ease-in
}

.gnb.gnb--evaluate,.gnb.gnb--tutorial {
    background: none !important
}

.gnb.gnb--scrolled {
    background-color: rgba(18,18,18,0.94)
}

.gnb.gnb--tutorial,.gnb.gnb--evaluate {
    background-color: #121212
}

.category-filter-item {
    display: block;
    padding-left: 16px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: rgba(255,255,255,0.3)
}

.category-filter-item .category-filter-item__text {
    padding: 2px 0
}

.category-filter-item.category-filter-item--active {
    color: #ffffff
}

.category-filter-item.category-filter-item--active .category-filter-item__text {
    border-bottom: 1px solid #ffffff
}

.account-menu {
    background: #121212;
    padding-bottom: 10px;
    z-index: 550
}

.account-menu .account-menu__item>a {
    display: block;
    padding: 0 16px;
    height: 40px;
    font-size: 14px;
    line-height: 40px
}

.account-menu .account-menu__item>a:hover {
    background: rgba(255,255,255,0.2);
    color: #ffffff
}

.footer {
    position: relative;
    background: #121212;
    padding: 0 50px;
    padding-top: 27px;
    padding-bottom: 54px
}

.footer .footer__links {
    vertical-align: middle;
    color: rgba(255,255,255,0.2);
    font-size: 10px;
    letter-spacing: -.5px
}

.footer .footer__links a {
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255,255,255,0.7)
}

.footer .footer__links a.privacy {
    color: #ffffff
}

.footer .footer__contact-info {
    margin-top: 24px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    letter-spacing: -.5px;
    line-height: 20px
}

.footer .footer__contact-info a {
    color: rgba(255,255,255,0.7)
}

.footer .footer__contact-info .footer__contact:before,.footer .footer__contact-info .footer__contact:after {
    content: " ";
    display: table
}

.footer .footer__contact-info .footer__contact:after {
    clear: both
}

.footer .footer__contact-info .footer__contact .footer__contact-title {
    float: left;
    width: 139px
}

.footer .footer__contact-info .footer__contact .footer__contact-desc {
    float: left
}

.footer .footer__contact-info .footer__contact .footer__contact-desc:before {
    margin-right: 8px;
    position: relative;
    bottom: 2px;
    content: '| ';
    font-size: 10px;
    color: rgba(255,255,255,0.2);
    vertical-align: middle
}

.footer .footer__legal-info {
    margin-top: 46px;
    color: rgba(255,255,255,0.3);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.5px;
    vertical-align: middle
}

.footer .footer__legal-info a {
    color: inherit
}

.footer .footer__legal-info .footer__legal-info__div {
    font-size: 10px;
    vertical-align: middle
}

.footer .footer__frograms-info {
    margin-top: 3px;
    color: rgba(255,255,255,0.3);
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 300
}

.footer .footer__frograms-info .footer__powered-by {
    color: #ffffff;
    font-size: 14px
}

.footer .footer__frograms-info .footer__powered-by a {
    color: inherit
}

.footer .footer__frograms-info .footer__frograms-text {
    font-weight: 500
}

.footer .footer__frograms-info .footer__watcha-logo {
    display: inline-block;
    width: 63px;
    height: 11px;
    vertical-align: middle;
    background-image: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/components/footer/watcha_logo-6a4018ce9724f2324d4950e40a295df765007cfed9e50e6b59b70b1354ad07ff.png);
    background-repeat: none;
    background-size: 126px 11px;
    text-indent: -9999px;
    overflow: hidden
}

.footer .footer__frograms-info .footer__watcha-logo:hover {
    background-position: 63px 0
}

.footer .footer__sns-links {
    position: absolute;
    top: 146px;
    right: 50px
}

.footer .footer__sns-links .footer__sns-link {
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: white;
    text-align: center;
    line-height: 33px
}

.footer .footer__sns-links .footer__sns-link:hover {
    background: #ffffff;
    color: #000
}

.footer .footer__sns-buttons {
    position: absolute;
    top: 200px;
    right: 50px
}

.footer .footer__sns-buttons .fb-share-button.fb_iframe_widget {
    display: inline-block;
    margin-right: 8px;
    line-height: 14px
}

.footer.footer--fix-at-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

.intro-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 0 50px;
    color: rgba(255,255,255,0.3);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -.5px;
    z-index: 100
}

.intro-footer .intro-footer__contacts {
    color: rgba(255,255,255,0.7)
}

.intro-footer .intro-footer__contacts a {
    color: rgba(255,255,255,0.7)
}

.intro-footer .intro-footer__contact-subject {
    font-weight: 500
}

.gnb-category-list {
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    background: #121212;
    width: 460px;
    line-height: 1.55;
    z-index: 5550;
    display: none;
}

.gnb-category-list:before,.gnb-category-list:after {
    content: " ";
    display: table
}

.gnb-category-list:after {
    clear: both
}

.gnb-category-list .gnb-category-list__filters {
    float: left;
    width: 70px
}

.gnb-category-list .gnb-category-list__filtered-list,.gnb-category-list__filtered-list2,.gnb-category-list .gnb-category-list__css-spinner {
    float: right;
    width: 390px;
    position: relative;
    z-index:5550;
}

.gnb-category-list .gnb-category-list__filtered-list2,.gnb-category-list .gnb-category-list__css-spinner {
    float: right;
    width: 390px;
    position: relative;
    z-index:5550;
}

.gnb-category-list .gnb-category-list__filtered-list3,.gnb-category-list .gnb-category-list__css-spinner {
    float: right;
    width: 390px;
    position: relative;
    z-index:5550;
}

.gnb-category-list .gnb-category-list__filtered-list:before,
.gnb-category-list .gnb-category-list__filtered-list:after,
.gnb-category-list .gnb-category-list__css-spinner:before,
.gnb-category-list .gnb-category-list__css-spinner:after {
    content: " ";
    display: table
}

.gnb-category-list .gnb-category-list__filtered-list2:before,
.gnb-category-list .gnb-category-list__filtered-list2:after,
.gnb-category-list .gnb-category-list__css-spinner:before,.gnb-category-list .gnb-category-list__css-spinner:after {
    content: " ";
    display: table
} 

.gnb-category-list .gnb-category-list__filtered-list:after,.gnb-category-list .gnb-category-list__css-spinner:after {
    clear: both
}

.gnb-category-list .gnb-category-list__filtered-list2:after,.gnb-category-list .gnb-category-list__css-spinner:after {
    clear: both
}

.gnb-category-list .gnb-category-list__css-spinner {
    position: relative;
    height: 130px
}

.gnb-category-list .gnb-category-list__css-spinner .css-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.34375vw;
    margin-top: -1.171875vw
}

.gnb-category-list .gnb-category-list__css-spinner .css-spinner,.gnb-category-list .gnb-category-list__css-spinner .css-spinner:after {
    width: 2.34375vw;
    height: 2.34375vw
}

.gnb-category-list .gnb-category-list__filtered-list-item {
    position: relative;
    float: left;
    padding-left: 16px;
    width: 130px;
    line-height: 40px
}

.gnb-category-list .gnb-category-list__filtered-list-item2 {
    position: relative;
    float: left;
    padding-left: 16px;
    width: 130px;
    line-height: 40px
}

.gnb-category-list .gnb-category-list__filtered-list-item3 {
    position: relative;
    float: left;
    padding-left: 16px;
    width: 130px;
    line-height: 40px
}

.gnb-category-list .gnb-category-list__filtered-list-item a {
    font-size: 14px
}

.gnb-category-list .gnb-category-list__filtered-list-item2 a {
    font-size: 14px
}

.gnb-category-list .gnb-category-list__filtered-list-item3 a {
    font-size: 14px
}

/* .gnb-category-list .gnb-category-list__filtered-list-item.gnb-category-list__filtered-list-item--new:after {
    content: attr(data-unchecked-arrivals-count);
    position: absolute;
    right: -6px;
    top: 50%;
    margin-top: -18px;
    padding: 2px 3px;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
    color: white;
    background-color: #FC426A;
    border-radius: 2px;
    line-height: 1
}  */

.logo {
    line-height: 0;
    background: url(https://d1rb9b8eeq1zxg.cloudfront.net/assets/watchaplay-logo2-bc7aa1f4740e9a4ba8ae9cc3a72c91b3fe141081ee7c2d4c128175f36e78a5de.svg) 0 26px no-repeat;
    background-size: contain;
    width: 318px;
    height: 114px
}

.loader {
    margin-bottom: 6.09375vw
}

.loader .css-spinner {
    margin: 0 auto
}

.search {
    position: relative
}

.search .search__button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 57px;
    height: 36px;
    padding: 6px 0;
    font-size: 16px;
    color: rgba(255,255,255,0.5)
}

.search .search__button:hover {
    color: rgba(255,255,255,0.7)
}

.search .search__button:before {
    margin-right: 5px
}

.search .SearchInputActivate-enter {
    width: 0px;
    opacity: 0.1
}

.search .SearchInputActivate-enter.SearchInputActivate-enter-active {
    width: 220px;
    opacity: 1;
    transition: width 0.3s ease, opacity 0.3s ease
}

.search .SearchInputActivate-leave {
    opacity: 1;
    max-width: 220px
}

.search .SearchInputActivate-leave.SearchInputActivate-leave-active {
    opacity: 0.1;
    max-width: 0px;
    transition: max-width 0.2s ease, opacity 0.2s ease
}

.search-input {
    display:none;
    position: absolute;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    width: 220px;
    height: 36px;
    padding: 5px 10px;
    padding-left: 32px;
    padding-right: 30px;
    background: #ffffff
}

.search-input .glyphicon-search {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #121218;
    font-size: 16px
}

.search-input>input {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 1.428571429
}

.search-input>input:focus {
    border: 0;
    outline: 0
}

.search-input>input::-moz-placeholder {
    color: rgba(18,18,24,0.5)
}

.search-input>input:-ms-input-placeholder {
    color: rgba(18,18,24,0.5)
}

.search-input>input::-webkit-input-placeholder {
    color: rgba(18,18,24,0.5)
}

.search-input>input::-ms-clear {
    display: none
}

.search-input .search-input__clear-search-text {
    position: absolute;
    right: 9px;
    top: 7px
}

.search-input .search-input__clear-search-text .glyphicon-x-circle {
    color: rgba(18,18,24,0.5);
    font-size: 16px
}
.rec-row .rec-row__title {
    
    padding: 0 50px;
    font-size: 1.40625vw;
    line-height: 100%;
    color: rgba(255,255,255,0.7);
}
.rec-row .rec-row__show-more {
    float: right;
    font-size: 1.09375vw;
    letter-spacing: -0.0390625vw;
}
.rec-row .rec-row__show-more .glyphicon {
    padding-left: 0.46875vw;
    font-size: 0.859375vw;
    color: rgba(255,255,255,0.3);
}
.glyphicon {
    display: inline-block;
    position: relative;
    bottom: 1px;
    line-height: 1;
    font-family: 'Watcha Glyphicons';
    font-size: .9em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
#aaaaaaaaa{
	
	
}