@CHARSET "UTF-8";
 .watches {
			position:relative;
			left:1px;
			top:5px;
			
            }
            
            
            #underlinemenu{
            margin: 0px;
            padding: 90px;
            }
            
            #underlinemenu ul{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 30px;
            margin: 0;
            margin-bottom: 0px;
            padding-left: 0;
            
            font-weight: bold;
            width: 100%;
            border-width: 1px 0;
            }
            
            * html #underlinemenu ul{ /*IE only rule. Delete extra margin-bottom*/
            margin-bottom: 0;
            
            }
            
            #underlinemenu ul li{
            display: inline;
            }
            
            
            #underlinemenu ul li a{
            float: left;
            color: gray;
            font-weight: bold;
            padding: 1px 9px 7px 9px;
            text-decoration: none;
            }
            
            #underlinemenu ul li a:hover{
            color: #eee;
            border-bottom: 2px solid #eee;
            padding-bottom: 0;
            }
            
            body{
                background-color: #191919;
                position: relative;
                z-index: 5;
            }